{% load static from static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jakub Wasiak Tuzy</title>
	<!-- <link rel="stylesheet" href="/static/style.css"> -->
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<!-- <link rel="stylesheet" href="/static/css/fontello.css"> -->
	<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
</head>
<body>

	<header>
		<a href="#" class="logo"><span>t</span>uzownia<span>.</span>pl</a>
		<div class="MenuToggle" onclick="toggleMenu();"></div>
		<ul class="navigation">
			<li><a href="#stronaglowna" onclick="toggleMenu();"><div class="zoom"><i class="icon-home"></i></div>Strona główna</a></li>
			<li><a href="#Menu" onclick="toggleMenu();"><div class="zoom"><i class="icon-camera"></i></div>Realizacje</a></li>
			<li><a href="#oferta" onclick="toggleMenu();"><div class="spin"><i class="icon-cog"></i></div>Tuzy</a></li>
			<li><a href="#akcesoria" onclick="toggleMenu();"><div class="zoom"><i class="icon-basket"></i></div>Akcesoria</a></li>
			<li><a href="#uslugi" onclick="toggleMenu();"><div class="zoom"><i class="icon-wrench"></i></div>Usługi</a></li>
			<li><a href="#contact" onclick="toggleMenu();"><div class="zoom"><i class="icon-mail-alt"></i></div>Kontakt</a></li>
			<li><a href="#xxx" onclick="toggleMenu();"><div class="spin"><i class="icon-spin3"></i></div>Switch to English</a></li>
		</ul>
	</header>


	<section class="stronaglowna" id="stronaglowna">
		<div class="content">
			<h2>Witaj!</h2>
			<p>Jesteśmy producentem przednich trzypunktowych układów zawieszenia o udźwigu 0,6T, 1T oraz 3T. Gama dostępnych modeli stale rośnie. </p>
		</div>
	</section>
	
	<section class="Menu" id="Menu">
		<div class="title">
			<h2 class="titleText"> <span>R</span>ealizacje<span>.</span></h2>
			<p>Galeria zdjęć naszych produktów.</p>
		</div>
		<div class="content">
			{% for tuz in foto %}
			<div class="box">
				<div class="imgBx">
					<img src={{tuz.foto.url}}>
				</div>
				<div class="text">
					<h3>{{ tuz.nazwa }}</h3>
				</div>
			</div>
			{% endfor %}
		</div>	
	</section>

		
	<section class="oferta" id="oferta">
		<div class="title white">
			<h2 class="titleText"> <span>N</span>asze tuzy<span>.</span></h2>
			<p>Wybierz markę i sprawdź dostępne tuzy</p>
		</div>
		<div class="content">
			{% for marka in marki %}
			<a href="{% url 'tuzy:tuzy_lista' marka.pk %}" style="text-decoration: none">
				<div class="box">
						<div class="text">
							<h3>{{ marka.nazwa }}</h3>
						</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</section>


	<section class="akcesoria" id="akcesoria">
		<div class="title">
			<h2 class="titleText"> <span>A</span>kcesoria<span>.</span></h2>
		</div>
		{% for akcesoria_entity in akcesoria %}
		<div class="row">
			<div class="col50">
				<h2 class="titleText">{{ akcesoria_entity.nazwa }}</h2>
				<p>{{ akcesoria_entity.opis }}</p>
			</div>
			<div class="col50">
				<div class="imgBx"> 
					<img src={{akcesoria_entity.foto.url}}> 
				</div>
			</div>
		</div>
		{% endfor %}
	</section>


	<section class="uslugi" id="uslugi">
		<div class="title">
			<h2 class="titleText"> <span>U</span>sługi<span>.</span></h2>
		</div>
		{% for uslugi_entity in uslugi %}
		<div class="row">
			<div class="col50">
				<h2 class="titleText">{{ uslugi_entity.nazwa }}</h2>
				<p>{{ uslugi_entity.opis }}</p>
			</div>
			<div class="col50">
				<div class="imgBx"> 
					<img src={{uslugi_entity.foto.url}}> 
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
	
	<section class="contact" id="contact">
		<div class="title">
			<h2 class="titleText"> <span>K</span>ontakt<span>.</span></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="frame">
			<div class="contactForm">
				<form action="{% url 'home'%}" method="post"> 
					{% csrf_token %}
					<h3>Wyślij wiadomość:</h3>
					<div class="inputBox">
						<input type="email" name="email" placeholder="Twoje imię, mail, numer telefonu...">
					</div>
					<div class="inputBox">
						<textarea name="message" placeholder="Wiadomość"></textarea>
					</div>
					<div class="inputBox">
						<input type="submit" value="Wyślij">
					</div>
				</form>
				<h3>Telefon: 601 973 224</h3></br>
			</div>
			
			
			<div class="contactForm">
				<h3>Media społecznościowe:</h3></br>
				<div class="socialmedia">
						<div class="fbicon">
							<a href="https://www.facebook.com/przednietuzy/" target="_blank"><i class="icon-facebook"></i></a>
						</div>
						<div class="googleicon">
							<a href="https://www.google.com/maps/place/Biuro+projektowe+Jakub+Wasiak/@50.529216,20.08546,692m/data=!3m1!1e3!4m5!3m4!1s0x0:0xa1e821d83f75ecaa!8m2!3d50.529216!4d20.0854601?hl=pl" target="_blank"><i class="icon-google"></i></a>
						</div>
						<div class="yticon">
							<a href="https://www.youtube.com/" class="tilelink" target="_blank" ><i class="icon-youtube-play"></i></a>
						</div>
						<div class="olxicon">
							<!-- <img src="./media/resized.jpeg"> -->
							<a href="https://tuzy.olx.pl/#items" class="tilelink" target="_blank">
								<p class="bordo">O</p><p class="green">L</p><p class="orange">X</p>
							</a>
						</div>
					</div>
			</div>
			
			<div class="contactForm">
				<div class="socialmedia">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1605.0961252961238!2d20.086187528409543!3d50.529529929652675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4717a1b84468cc15%3A0xa1e821d83f75ecaa!2sBiuro%20projektowe%20Jakub%20Wasiak!5e1!3m2!1spl!2sus!4v1621266273822!5m2!1spl!2sus" <!-- width="600" height="450" --> style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
		</div>
	</section>
	
	<div class="copyrightText">
		<p>2021 <a href='#'>Jakub Wasiak Tuzy</a>. &copy</p>
	</div>
	
	<script type="text/javascript">
		window.addEventListener('scroll', function(){
			const header = document.querySelector('header');
			header.classList.toggle("sticky", window.scrollY > 0);
			});
			
			function toggleMenu(){
			const MenuToggle=document.querySelector('.MenuToggle');
			const navigation = document.querySelector('.navigation');
			MenuToggle.classList.toggle('active');
			navigation.classList.toggle('active');
			}
	</script>

</body>
</html>